Topics:
    - For loop
    - While Loop
    - if else ,elif 
    - List Comprehension
    - Dictionary
    - Dictionary Comprehension

# For Loop:

In [9]:
# repeated work 
# code reduce 

t = [11,22,33,44,55,66,77]

In [14]:
for a in t:
    print(a)

11
22
33
44
55
66
77

In [16]:
for a in '100':
    print(a)

1
0
0

In [17]:
for student in ["Asad","Ali","Ahmed"]:
    print(student.upper())

ASAD
ALI
AHMED

In [18]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n

In [21]:
for num in range(5):
    print(num)

0
1
2
3
4

In [23]:
for num in range(1,10):  
    print(num)

1
2
3
4
5
6
7
8
9

In [28]:
for num in range(0,20,2):
    print(num)

0
2
4
6
8
10
12
14
16
18

In [35]:
for a in range(10,0,-1):
    print(a)

10
9
8
7
6
5
4
3
2
1

In [19]:
sqaures=[]
for num in range(10):
    sqaure = num**2
    sqaures.append(sqaure)
sqaures

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [29]:
sqaures=[]
for num in range(10):    
    sqaures.append(num**2)
sqaures

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

If Condtion

In [40]:
val = 100
user = int(input("Enter a value"))
if user == val:
    print("You win guess right")
    print("Good work")
    print("Weldone")
else:
    print("Your guess is wrong")

Enter a value100
You win guess right
Good work
Weldone

In [43]:
val = 100
user = int(input("Enter a value"))
if user == val:
    print("Excellent")
elif user > val:
    print("Your value is greater")
elif user < val:
    print("Your value is less")
else:
    print("I dont know")

Enter a value102
Your value is greater

In [45]:
#multiple if

In [44]:
val = 100
user = int(input("Enter a value"))
if user == val:
    print("Excellent")
if user > val:
    print("Your value is greater")
if user < val:
    print("Your value is less")
else:
    print("I dont know")

Enter a value100
Excellent
I dont know

Nested if

In [49]:
feestatus = input("Enter the fee status of student")
if feestatus == "paid":
    admitCard = input("Does he has admit card")
    if admitCard =="yes":
        print("He is allowed to appear in exam")
        if 
        
            if 
            else
        else
    else:
        print('He is not allowed')
else:
    print('He is not allowed')

Enter the fee status of studentpaid
Does he has admit cardno
He is not allowed

Parallel to nested if

In [53]:
feestatus = input("Enter the fee status of student")
admitCard = input("Does he has admit card")

if (feestatus =='paid') and (admitCard == 'yes'):
    print("Allowed")
else:
    print('Not Allowed')

Enter the fee status of studentunpaid
Does he has admit cardno
Not Allowed

In [55]:
feestatus = input("Enter the fee status of student")
admitCard = input("Does he has admit card")

if (feestatus =='paid') or (admitCard == 'yes'):
    print("Allowed")
else:
    print('Not Allowed')

Enter the fee status of studentunpaid
Does he has admit cardyes
Allowed

In [56]:
# Continue Break

In [57]:
for a in range(10):
    if a==5:
        break
    else:
        print(f"a is {a}")

a is 0
a is 1
a is 2
a is 3
a is 4

In [58]:
for a in range(10):
    if a==5:
        continue
    else:
        print(f"a is {a}")

a is 0
a is 1
a is 2
a is 3
a is 4
a is 6
a is 7
a is 8
a is 9

# List Comprehension

In [59]:
# without LC
sqaures=[]
for num in range(10):
    sqaure = num**2
    sqaures.append(sqaure)
sqaures

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [61]:
[num**2 for num in range(1,10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [62]:
even =[]
odd  = []

for a in range(30):
    if a%2==0:
        even.append(a)
    else:
        odd.append(a)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [63]:
[num*2 for num in range(10) if num>6]

[14, 16, 18]

In [65]:
salaries = [23,45,67,54,56,78,34,43,40]

In [66]:
increased_Salary = [salary+5 for salary in salaries if salary<50]
increased_Salary

# if there is only "if condition", if will b after for loop

[28, 50, 39, 48, 45]

In [68]:
increased_Salary = [salary+salary*0.2 if salary<50 else salary for salary in salaries]
increased_Salary
# if there is "if condition" with "Else", both 'if' n 'else' will b before for loop

[27.6, 54.0, 67, 54, 56, 78, 40.8, 51.6, 48.0]

In [75]:
[f"{num} is even" if num%2==0  else f"{num} is odd" for num in range(30)]

['0 is even',
 '1 is odd',
 '2 is even',
 '3 is odd',
 '4 is even',
 '5 is odd',
 '6 is even',
 '7 is odd',
 '8 is even',
 '9 is odd',
 '10 is even',
 '11 is odd',
 '12 is even',
 '13 is odd',
 '14 is even',
 '15 is odd',
 '16 is even',
 '17 is odd',
 '18 is even',
 '19 is odd',
 '20 is even',
 '21 is odd',
 '22 is even',
 '23 is odd',
 '24 is even',
 '25 is odd',
 '26 is even',
 '27 is odd',
 '28 is even',
 '29 is odd']

In [72]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

# Set

In [76]:
aset = {2,3,4,5,6,7,8,8,8,2,3,4}
# collection of dintinct

In [78]:
aset
# Explore set function 'DYS'

{2, 3, 4, 5, 6, 7, 8}

In [83]:
alist = [2,3,4,5,34,5,6,7,8,7,65,4,3,2,2]
alist = list(set(alist))
alist

[65, 34, 2, 3, 4, 5, 6, 7, 8]

# Dictionary

In [81]:
adic = {'key':'value'}
bdic= set({})
c = {4}
type(c)

#Both are dictionary type

set

In [84]:
adic = {'name':"Nasir", "age":23}

In [85]:
adic['age']

# Access / Retrieve

23

In [86]:
# Create
adic['Residence'] = "Karachi"
adic

{'name': 'Nasir', 'age': 23, 'Residence': 'Karachi'}

In [87]:
del adic['age']
adic

{'name': 'Nasir', 'Residence': 'Karachi'}

In [88]:
adic['Residence'] = "Lahore"
adic

{'name': 'Nasir', 'Residence': 'Lahore'}

In [94]:
adic = {'name':"Nasir", "age":23, 'name': "Asad", 'Fee': True}

In [95]:
adic

{'name': 'Asad', 'age': 23, 'Fee': True}

In [96]:
adic.keys()

dict_keys(['name', 'age', 'Fee'])

In [97]:
adic.values()

dict_values(['Asad', 23, True])

In [98]:
#Iteration on dictionary
for key in adic.keys():
    print(key)

name
age
Fee

In [99]:
for key in adic.values():
    print(key)

Asad
23
True

In [100]:
for key in adic.keys():
    print(adic[key])

Asad
23
True

In [101]:
adic.items()

dict_items([('name', 'Asad'), ('age', 23), ('Fee', True)])

In [103]:
for key,value in adic.items():
    print(f"The key is {key} and the value is {value}")

The key is name and the value is Asad
The key is age and the value is 23
The key is Fee and the value is True

In [104]:
for item in adic.items():
    print(item)

('name', 'Asad')
('age', 23)
('Fee', True)

In [105]:
a = (23, 34)

In [106]:
a

(23, 34)

In [107]:
c,d = a

In [108]:
c

23

In [109]:
d

34