Today Topics:
- Dictionary Comprehension
- List in Dictionary
- Dictionary in  Dicitionry
- While Loops

In [12]:
# dictionary comprehension example

square_dict = {num: num*num for num in range(1, 11)}

In [13]:
square_dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [7]:
prices_in_dollars={'laptop':200, 'LCD':50, 'AC':500}

In [19]:
price_in_Rs= {item:price*160 for item, price in prices_in_dollars.items()}

In [14]:
price_in_Rs

{'laptop': 32000, 'LCD': 8000, 'AC': 80000}

In [20]:
{i:p+(p*.10) if p<50000 else p-p*.10 
                         for i, p in price_in_Rs.items()}

{'laptop': 35200.0, 'LCD': 8800.0, 'AC': 72000.0}

# List in Dictionary

In [28]:
students = {'names':  ['Nasir', 'Tahir', 'Yasir'],
            'Age'  :  [23, 34,45],
           'Gender':  ['Male', 'Male', 'Male']}

In [29]:
type(students)

dict

In [30]:
students['names']

['Nasir', 'Tahir', 'Yasir']

In [31]:
type(students['names'])

list

In [33]:
type(students['Age'][1])

int

In [34]:
students['Age'][0:2]

[23, 34]

# Dictionary in List

In [42]:
alist = [{"item1":'CPU', 'item2':'Mouse'},
         students,
         ]

In [43]:
alist

[{'item1': 'CPU', 'item2': 'Mouse'},
 {'names': ['Nasir', 'Tahir', 'Yasir'],
  'Age': [23, 34, 45],
  'Gender': ['Male', 'Male', 'Male']}]

In [45]:
alist[1]['Age'][1]

34

# Dictionary in Dictionary

In [46]:
dic_in_dic = {  1:{11:"eleven"},
                2:{22:"twentytwo"},
                3:{33:"thirtythree"}}

In [47]:
dic_in_dic[3][33]

'thirtythree'

In [37]:
import requests
url = 'https://jsonplaceholder.typicode.com/todos/'
resp = requests.get(url)

In [39]:
data = resp.json()

In [41]:
len(data)

200

# While Loops

In [48]:
for num in [11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [49]:
a = 0
while(a<10):
    a +=1
    print(f"a is {a}")

a is 1
a is 2
a is 3
a is 4
a is 5
a is 6
a is 7
a is 8
a is 9
a is 10

In [50]:
num = int(input("Enter a number"))

if num%2==0:
    print("Even")
else:
    print("Odd")

Enter a number4
Even

In [ ]:
for a in range(5):
    num = int(input("Enter a number"))
    if num%2==0:
        print("Even")
    else:
        print("Odd")

In [54]:
a = 0
while(a<6):
    a +=1
    num = int(input("Enter a number"))
    if num%2==0:
        print("Even")
    else:
        print("Odd")

Enter a number3
Odd
Enter a number5
Odd
Enter a number7
Odd
Enter a number2
Even
Enter a number8
Even
Enter a number1
Odd

In [59]:
flag = True
while(flag):
    num = input("Enter a number or type 'quit' to exit")
    if num == 'quit':
        print("Quitttttttt")
        flag = False
    else:              
                    
        if int(num)%2==0:
            print("Even")
        else:
            print("Odd")

Enter a number or type 'quit' to exit4
Even
Enter a number or type 'quit' to exitquit
Quitttttttt