Interpreted: line by line
Complier : All lines are executed then result or error

# Topics:
    - Print
    - variables
    -Data Types
    - Concatenation
    -String formation 
    -User input
    -Operators

# Print

In [18]:
print("Hello World","Hello Python",2 , 3.5 ,sep="__",end='\t\t')
print("This is Alading Academy")

Hello World__Hello Python__2__3.5		This is Alading Academy

What are other escape characters in python? Implemnt these escape characters

In [17]:
print("I am \nPakistan")

I am
Pakistan

# Data Types

-Integers (int)
-Float    (Decimals)
-Boolean  (True and False)
-String    ("TExt")

# Variables

In [24]:
age = 25

# integer 25 is assigned to a variable(placeholder)identifier age. 

print(age)

25

In [28]:
type(age)

int

In [29]:
id(age)

140716994765968

# Variable naming valid and invalid

In [31]:
1stStudent = "Nasir"   # startinf from a number

SyntaxError: invalid syntax (<ipython-input-31-82bd56cfcdd9>, line 1)

In [32]:
father name = "Kamal"  # space not allowed

SyntaxError: invalid syntax (<ipython-input-32-83a7cb5dcb6e>, line 1)

In [33]:
first-name = "Hassan"  #(.!@#$%^&*()<>?) not allowed anywhere in a variable name

SyntaxError: can't assign to operator (<ipython-input-33-7b8a1de87228>, line 1)

Reserved Words(keyword): if else elif for in is list int True False class pass

In [35]:
status_of_student_fee = "Paid"

In [36]:
statusOfStudentsFee = "Paid"

# how to define a constant in python??

In [37]:
age = 10

In [38]:
age + 12

22

In [39]:
print(age)

10

In [40]:
age = age + 12

In [41]:
age

22

In [42]:
age2 = 34

In [44]:
newAge = age + age2

In [45]:
newAge

56

In [46]:
height = 5.6

In [47]:
height1 = 6

In [50]:
height + height1

11.6

In [52]:
signal = True
type(signal)

bool

In [53]:
ans = False
type(ans)

bool

# String

In [69]:
name = '  pakistan  '

In [70]:
name.capitalize()

'  pakistan  '

In [71]:
name.casefold()

'  pakistan  '

In [72]:
name.count("a")

2

In [73]:
name.endswith("n")

False

In [74]:
name.find("k")

4

In [75]:
name.upper()

'  PAKISTAN  '

In [76]:
name.lower()

'  pakistan  '

In [77]:
name.lstrip()

'pakistan  '

In [78]:
name.rstrip()

'  pakistan'

In [79]:
name.strip()

'pakistan'

#implement other functions of the strings

# String Concatenation

In [81]:
first_name = "Nasir"
last_name = "Hussain"

In [82]:
fullName = first_name + last_name

# Operators = +- * / 

# dual behaviour >>> operator overlaoding

In [83]:
fullName

'NasirHussain'

In [84]:
fullName + age

TypeError: can only concatenate str (not "int") to str

In [85]:
fullName + str(age)

'NasirHussain22'

In [86]:
type(age)

int

In [92]:
name = input("Type your good name")
age  = int(input("Type your age "))

print("Your name is " +  name +  " and your age is " +  str(age))
print(type(age))

# user input from console is always a string

Type your good nameasad
Type your age 23
Your name is asad and your age is 23
<class 'int'>

# String Formating

In [101]:
name = input("Type your good name")
age  = int(input("Type your age "))

print("Your name is {} and your age is {}".format(name, age))
print(type(age))

# user input from console is always a string

Type your good namenasir
Type your age 23
Your name is nasir and your age is 23
<class 'int'>

In [126]:
name = input("Type your good name")
age  = int(input("Type your age "))

print( f"your name is {name} and your age is {age}")
#print(type(age))

# user input from console is always a string

Type your good namewe
Type your age 56
your name is we and your age is 56

In [105]:
val1 = 12
val2 = 10

In [106]:
val1 +val2

22

In [107]:
val1 - val2

2

In [108]:
val1 * val2

120

In [109]:
val1 / val2  

# By default the divison is flaoting division

1.2

In [110]:
val1 // val2   # integer divsion

1

In [111]:
# %     modulo operator 
        # return remaunder of the divsion operation

In [112]:
15%10

5

In [113]:
# == euqality
10 == 20

False

In [114]:
10 ==10

True

In [115]:
# not equal 
10 != 20

True

not , and or > < >= <=

In [118]:
10 == 20

this is my friends's shop

In [121]:
print("Hello \"Nasir\" Pakistan")

Hello "Nasir" Pakistan

In [122]:
a = 10

In [123]:
float(a)

10.0

In [124]:
b = 10.6

In [125]:
int(b)

10