Topics Today:

List 

  function
  
List Slicing 



Tuppple

# List

In [2]:
# python list is derived Data Structure just like array

# define list

students = []
# empty list

In [3]:
type(students)

list

In [4]:
students= ["Fahad", "Asad", "Nasir",12, 12.5, True, [1,2,3,] ]
# list can hold multiple data type and structure

Accessing list memebers

In [37]:
students= ["Fahad", "Asad", "Nasir"]
# index      0        1        2
# -ve       -3       -2       -1

In [17]:
students[0]

'Fahad'

In [18]:
students[-3]

'Fahad'

In [8]:
students[-1]

'Nasir'

In [19]:
students[34]

IndexError: list index out of range

In [20]:
#Update list(repalce)

students[0]="Yasir"

In [21]:
students

['Yasir', 'Asad', 'Nasir']

In [22]:
# del 
del students[-1]
students

#Deletes permanently(inplace)

['Yasir', 'Asad']

In [73]:
students.append("Ahmed2")
students

['Fahad', 'Asad', 'Nasir', 'Ahmed2']

In [30]:
students.append("Ali")

In [31]:
students.append("Kashif")
students

['Yasir',
 'Asad',
 'Ahmed',
 'Ahmed',
 'Ahmed',
 'Ali',
 'Kashif',
 'Ahmed',
 'Ali',
 'Kashif']

In [32]:
len(students)

10

In [36]:
cleared_items = students.clear()
print(cleared_items)

None

In [34]:
len(students)

0

In [38]:
students

['Fahad', 'Asad', 'Nasir']

In [45]:
new_students = students.copy()

In [46]:
new_students

['Fahad', 'Asad', 'Nasir']

In [41]:
new_students.count("Nasir")

1

In [43]:
old_students= ["Kamran", 'Ayesha', "Farooq"]

In [47]:
new_students.extend(old_students)

In [48]:
new_students

['Fahad', 'Asad', 'Nasir', 'Kamran', 'Ayesha', 'Farooq']

In [49]:
new_students.append(old_students)
new_students

['Fahad',
 'Asad',
 'Nasir',
 'Kamran',
 'Ayesha',
 'Farooq',
 ['Kamran', 'Ayesha', 'Farooq']]

In [55]:
new_students[6][0]

'Kamran'

In [56]:
new_students[6][0][3]

'r'

In [57]:
[1,2,3,4] + [4,5,6]

[1, 2, 3, 4, 4, 5, 6]

In [60]:
new_students.index('Ayesha')

4

In [61]:
alist = ['Fahad', 'Ayesha','Asad', 'Nasir', 'Kamran', 'Ayesha', 'Farooq']

In [64]:
alist.count("Ayesha")

2

In [65]:
alist.index('Ayesha')

1

In [67]:
alist.index('Ayesha', 2)

5

In [71]:
uniquelist = list(set(alist))
uniquelist

['Fahad', 'Ayesha', 'Asad', 'Farooq', 'Nasir', 'Kamran']

In [72]:
alist.insert(3,"Yasir")
alist

['Fahad', 'Ayesha', 'Asad', 'Yasir', 'Nasir', 'Kamran', 'Ayesha', 'Farooq']

In [74]:
poppedElement = alist.pop()
print(alist)
poppedElement

['Fahad', 'Ayesha', 'Asad', 'Yasir', 'Nasir', 'Kamran', 'Ayesha']

'Farooq'

In [75]:
poppedElement = alist.pop(4)
print(alist)
poppedElement

['Fahad', 'Ayesha', 'Asad', 'Yasir', 'Kamran', 'Ayesha']

'Nasir'

In [79]:
alist

['Fahad', 'Ayesha', 'Yasir', 'Kamran', 'Ayesha']

In [81]:
del alist[1]   #del a value by index

In [80]:
alist.remove("Yasir")  # del a value by name

In [87]:
alist.reverse()

In [88]:
alist

['Ayesha', 'Fahad', 'Kamran']

In [84]:
alist.sort()   # ascending order
alist

['Ayesha', 'Fahad', 'Kamran']

In [85]:
alist.sort(reverse=True)   # descending order
alist

['Kamran', 'Fahad', 'Ayesha']

In [92]:
alist = [34,56,23,1,0,89,7,56]
print(alist)
sortedList =sorted(alist)
print(sortedList)
print(alist)

[34, 56, 23, 1, 0, 89, 7, 56]
[0, 1, 7, 23, 34, 56, 56, 89]
[34, 56, 23, 1, 0, 89, 7, 56]

# List Slicing

In [93]:
sortedList

[0, 1, 7, 23, 34, 56, 56, 89]

In [94]:
sortedList[2]

7

In [95]:
sortedList[2:5]   # start:end-1

[7, 23, 34]

In [102]:
c = sortedList[2:3]

In [101]:
b = sortedList[2:]

In [100]:
a = sortedList[:4]
a

[0, 1, 7, 23]

In [99]:
sortedList

[0, 1, 7, 23, 34, 56, 56, 89]

In [103]:
#  slicingalist[start:end:step]
blist = [11,22,33,44,55,66,77,88,99]

In [104]:
blist[1:7:1]

[22, 33, 44, 55, 66, 77]

In [106]:
blist[1:8:2]

[22, 44, 66, 88]

In [107]:
blist[0:100]

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [108]:
blist[7:1]

[]

In [109]:
blist

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [111]:
blist[-2:-8:-1]

[88, 77, 66, 55, 44, 33]

# Tuple

In [112]:
a = ()

In [113]:
type(a)

tuple

In [114]:
# tuple is immutable

In [115]:
a[0]= "asad"

TypeError: 'tuple' object does not support item assignment

In [116]:
a = 12 ,45    # packing

In [118]:
b,c = a     # unpacking

In [119]:
b

12

In [120]:
c

45

In [121]:
a = [12 ,45]

In [122]:
c,d = a

In [123]:
c

12

In [125]:
d

45